
* {
    margin: 0;
    padding: 0;
}
.menu_shadow {
    transition: opacity 0.5 linear;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}
.drawer li {
    display: flex;
    margin: 0;
    text-decoration: none;
    color: black;
}

.drawer li > a {
    padding: 16pt;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.drawer li > a:nth-child(n+1) {
    color: #22989d;
}

.drawer {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
    transition: left 0.2s ease-out;
}

#menu[open=true] .menu_shadow {
    opacity: 1;
    visibility: visible;
}
#menu[open=false] .drawer {
    left: 100%;
}

.drawer > header {
    display: flex;
    flex-direction: row-reverse;
    margin: 20pt;
}

.drawer > header button div {
    font-size: 8pt;
}

.desc {
    padding: 16pt;
    background-color: #22989d;
}

.desc .header {
    display: inline-block;
    padding: 0px;
    font-weight: bold;
}
.desc .text {
    display: inline-block;
    padding: 0px;
    
}
.desc a {
    display: inline-block;
    padding: 0px;
}