
* {
    margin: 0;
    padding: 0;
}
.menu_shadow {
    transition: opacity 0.5 linear;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}
.drawer li {
    display: flex;
    margin: 0;
    text-decoration: none;
    color: black;
}

.drawer li > a {
    font-size: 16pt;
    padding: 10pt 24pt;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    display: flex;
}

.drawer li.bold > a {
    font-size: 14pt;
    padding: 10pt 24pt;
    font-weight: bold;
}

.drawer li:first-child > a {
    color: #22989d;
    font-weight: bold;
    border-top: 1pt solid #e5e5e5;
}

.drawer {
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 200pt;
    height: 100%;
    transition: right 0.2s ease-out;
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.2);
}

#menu[open=true] .menu_shadow {
    opacity: 1;
    visibility: visible;
}
#menu[open=false] .drawer {
    right: -200pt;
}

.drawer > header {
    display: flex;
    flex-direction: row-reverse;
    margin: 20pt;
}

.drawer > header button div {
    font-size: 8pt;
}

.desc {
    padding: 24pt;
    background-color: #22989d;
    color: white;
}
.desc * {
    color: white;
}
.desc .header {
    display: inline-block;
    padding: 0px;
    font-weight: bold;
}
.desc .text {
    display: inline-block;
    padding: 0px;
}
.desc a {
    display: inline-block;
    padding: 0px;
}