
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
   /*  font-size: 14pt; */
}

.screen_top {
    display: none;
    background-color: #36ced5;
}

.mobile_top a {
    margin-left: 24px;
    color: #fff;
}

.mobile_top_container {
    background-color: #36ced5;
    width: 100%;
    height: 60pt;
    display: grid;
}

.mobile_top {
    grid-row:1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
}

.mobile_top_container > #search {
    grid-row:1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    background-color: #36ced5;
    /* overflow: hidden; */
    transition: bottom 0.2s ease-out;    
    position: relative;
    bottom: 100%;
}

.mobile_top_container > #search[open=true] {
    bottom: 0%;
}

#search form {
    font-size: 8pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
    min-width: 0;
    width: 100%;
    height: 100%;
}

.search_box {
    font-size: 10pt;
    height: 24pt;
    
    padding: 0;
    padding-left: 8pt;
    border-width: 1pt;
    border-top-right-radius: 10pt;
    border-bottom-right-radius: 10pt;
    border-color: #096063;
    border-style: solid;
    max-block-size: none;
    min-width: none;
    min-inline-size: 0%;
    flex: 1 10 1em;
}

.search_box:placeholder-shown {
    background-image: url("temp_search_grey.png");
    background-position: 4pt 50%;
    background-size: auto 60%;
    background-repeat: no-repeat;
    padding-left: 20pt;
}

.search_box:focus {
    outline: none;
}

::placeholder {
    color: #dcdcdc;
}

.drop_down * {
    font-size: 10pt;
}
.drop_down {
    
    height: 24pt;
    background-color: #b9fbfe;

    color: #16989e;

    border-width: 1pt;
    border-top-left-radius: 10pt;
    border-bottom-left-radius: 10pt;
    border-color: #096063;
    border-style: solid;
    border-right: none;

    background-image: url("temp_drop_down.png");
    background-position: 90% 50%;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 12pt auto;

    text-decoration: none;
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: center;
    padding-left: 8pt;
    padding-right: 20pt;
    margin-left: 8pt;
}

button.search_cancel {
    margin: 8pt;
    font-size: 8pt;
    color: white;
    height: auto;
    flex: 0 0 40px;
}

section > div > header {
    color: red;
    font-weight: bold;
    font-size: 14pt;
    display: flex;
    align-items: center;    
}

section > div > header > img {
    width: 32px;
    height: 32px;
    margin-right: 4px; 
}


.line {    
    height: 3px;
}

.left {
    width: 16pt;
    margin-right: 4pt;
}

.right {
    width: 100%;
    flex: 1;
    text-align: center;
    margin-left: 4pt;
}

li {
    list-style: none;
    border-bottom-color: #e5e5e5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* li:hover {
    background-color: #e5e5e5;
}

li:active {
    background-color: red;
} */



a:hover {
  background-color: e5e5e5;
}

a:active {
    background-color: rgb(207, 207, 207);
}

.tags {
    padding: 0;
    margin: 8pt 0;
    font-weight: bold;
    font-size: 14pt;
}

.tags p, button {
    padding-left: 8pt;
}
section li > a {
    display: flex;
    padding: 16pt;
    margin: 0;
    text-decoration: none;
    color: black;
}



.tags[show_more=false] li:nth-child(n+3) {
    display: none;
}

.tags[show_more=true] .show_more {
    display: none;
}

.show_more {
    font-weight: bold;
    font-size: 14pt;
}

li.tag {
    background: #ececec;
    display: flex;
    margin-bottom:2pt;
    align-items: stretch;
}

li.tag:active {
    background: rgb(207, 207, 207);
}

a.tag {
    color: #f82900;
    width: 50%;
}

.tag {
    align-items: center;
}


.check_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: stretch;
    justify-content: stretch;
}
.check {
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;

}

.checkmeout {
    margin-left: 4pt;
    width: 16pt;
    height: 16pt;
    border-style: solid;
    border-width: 1pt;
    border-color: black;
    background: white;
}

.check[selected=true] .checkmeout {
    background-image: url('temp_check.png');
    background-size: 100% 100%;
}

li > a > div > p {
    text-decoration: none;
    color: black;
    display: inline-block;
}

li > a > div {
    display: inline-block;
}

li > a > div > header {
    font-weight: bold;
    display: inline-block;
}

li > a > div > div.category {
    font-weight: bold;
    display: inline-block;
}

a > img[src*="400x250"] {
    display: none;
}

section.article header {
    color: #f52c00;
}

section.article div.category {
    color: #f52c00;
}

section.layout1 header {
    color: #f52c00;
}

section.layout1 div.category {
    color: #f52c00;
}

section.layout2 header {
    color: #5516a1;
}

section.layout3 header {
    color: #5516a1;
}

section.layout3 div.category {
    color: #5516a1;
}


section.article  div.line {
    background-color: #f52c00;
}

section.layout1  div.line {
    background-color: #f52c00;
}

section.layout2  div.line {
    background-color: #5516a1;
}

section.layout3  div.line {
    background-color: #5516a1;
}

button {
    text-align: center;
    border-style: none;
    background: none;
    height: 32pt;
}

button.top {
    color: white;
    
    margin: 0px;
    height: auto;
    padding-left: 16pt;
    padding-right: 16pt;
}

.filler {
    flex-grow: 1;
    text-align: center;
}

button.top > img {
    width: 24pt;
}

button.more {
    border-color: black;
    border-width: 1pt;
    width: 175pt;
    padding: 0px;
    margin: 0 auto;
    display: block;
}

button:focus {
    outline: none;
}

section.layout1 li:nth-child(n+4) {
    display: none;
}

section.layout1 button {
    border-color: #f52c00;
    color: #f52c00;
    border-style: solid;
}


section.layout1 button:hover {
    color: #e37f36;
    border-color: #e37f36;
    border-style: solid;
}
section.layout1 button:active {
    color: #f2bfb4;
    border-color: #f2bfb4;
    border-style: solid;
    font-size: 20pt;
}



.button_container {
    display: inline-flex;
}

article > div {
    padding: 0 8pt;
}

.bild_text {
    color: grey;
    font-size: 8pt;
}

.bild_text * {
    color: grey;
    font-size: 8pt;
}

article h1 {
    color: #ff802c;
}

div.time {
    font-size: 8pt;
}

div.league {
    font-size: 8pt;
    font-weight: bold;
}

article {
    max-width: 420pt;
}

article > img {
    width: 100%;
    height: auto;
}

article p {
    margin: 8pt 0;
}

span.dateline {
    font-weight: bold;
}
span.dateline {
    color: #f52c00;
}

.sharebox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sharebox * {
    font-weight: bold;
}

.sharebox img {
    margin-right: 4pt;
}

.resultbox {
    background-color: #ffe0dc;
    margin: 8pt 0;
    padding-top: 16pt;
    padding-bottom: 8pt;
    text-align: center;
    font-size: 10pt;
}

.resultbox > .teams {
    color: #f52c00;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 4pt;
    margin-bottom: 8pt;
}

