@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,900&display=swap');
* {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
}

:root {
    --header_height: 100px;
}

@media screen and (min-width: 1000px) {
    .mobile_only {
        display: none !important;
    }
    footer {
        padding: 0px 50px;
    }
}

@media screen and (max-width: 1000px) {
    .desktop_only {
        display: none !important;
    }
    footer {
        padding: 0px 12px;
    }
}

.top_container {
    background-color: #36ced5;
    width: 100%;
    height: var(--header_height);
    display: grid;            
}
.screen_top {
    background-color: #36ced5;
}

.top_main {
    grid-row:1;
    grid-column: 1;
    width: 100%;
    height: var(--header_height);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 0;
}

.breadcrumbs_container {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.breadcrumbs {
    display: flex;
    
    max-width: 1280px;
    width: 100%;
}
.breadcrumbs a:first-child {
    padding-left: 24px;
}
.breadcrumbs a {
    color: #16989e;
    text-decoration: none;
    margin: 0 8px;
}

.breadcrumbs a:link {
    color: #a0a0a0;
}


.breadcrumbs > div {
    width: 1.5px;
    height: 16px;
    background-color: #a0a0a0;
}
.banner.top, .banner.desktop_only {
    background-color: #36ced5;
}
.banner {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.top .logo {
    margin-left: 24px;
}
.logo {
    max-height: var(--header_height);
    display: flex;
    flex: 0 1 200px;
    color: #fff;
    justify-items: start;
}

.top .logo > img {
    /* max-height: var(--header_height); */
    max-height: 100%;
    max-width: 100%;
    padding-left: 8px;
}

footer {
    background-color: #2d2d2d;
    align-items: center;
    color: #36ced5;
    text-align: right;
    font-size: 10px;
}

footer .logo > img {
    max-height: 100%;
    max-width: 100%;
}

footer a {
    float: left;
}

footer .filler {
    flex: 1 1 100px;
}

.banner .centered {
    flex: 1 1 1280px;
    max-width: 1280px;
}

.banner.top {
    border-bottom-width: 1px;
    border-bottom-color: #7f7f7f;
    border-bottom-style: solid;
}

.button_container {
    padding-top: 16px;
    flex: 1 0 100px;
    border-top-color: #e5e5e5;
    border-top-style: solid;
    border-top-width: 1px;
}

article > div {
    padding: 0 8px;
}

.bild_text {
    color: grey;
    font-size: 8px;
    margin-bottom: 16px;
}

.bild_text * {
    color: grey;
    font-size: 8px;
}

article h1 {
    font-size: 20px;
}

div.time {
    font-size: 10px;
}

div.league {
    font-size: 10px;
    font-weight: bold;
}

article > img {
    width: 100%;
    height: auto;
}

article p {
    margin: 16px 0;
}

span.dateline {
    font-weight: bold;
}


.sharebox {
    display: flex;
    flex-direction: row;
}

.sharebox a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.sharebox img {
    margin-right: 4px;
}

.resultbox {
    background-color: #ffe0dc;
    margin: 8px 0;
    padding-top: 16px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 10px;
}

.resultbox > .teams {
    font-weight: bold;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.suggestionsbox {
    background: #e5e5e5;
    padding-left: 16px;    
}

.suggestionsbox .title {
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding: 8px 0;
}

.suggestionsbox ul {
    display: flex;
    overflow: scroll;
    padding-bottom: 16px;
}

.suggestionsbox a {
    display: flex;
    flex-direction: column;
}

.suggestionsbox li img {
    height: 80px;
}

.suggestionsbox img[src*="400x125"] {
    display: none;
}

.suggestionsbox p {
    margin-top: 8px;
    font-weight: bold;

    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
   display: -moz-box;
   -moz-box-orient: vertical;
   -moz-line-clamp: 3;
}

.suggestionsbox li {
    padding-right: 16px;
}

.standings {
    padding: 0;
    background-color: #ffe0dc;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
}

.standings table {
    border-collapse: collapse;
}
.standings tr th {
    font-weight: bold;
}
.standings tr td {
    font-weight: normal;    
}
.standings tr td img {
    width: 20px;
    height: 20px;
    display: block;
}

.standings tr th, .standings tr td {
    text-align: left;
    padding: 2px 6px;
}
.standings tr th:first-child, .standings tr td:first-child {
    padding-left: 2px;
}
.standings tr th:last-child, .standings tr td:last-child {
    padding-right: 10px;
}
.standings tr:nth-child(2n) {
    background-color: white;
}

.layout1 .main_list li:nth-child(n + 3),
.layout2 .main_list li:nth-child(n + 2),
.layout3 .main_list li:nth-child(n + 4),
.layout4 .main_list li:nth-child(n + 0)
{
    display: flex;
    flex-direction: column;
}

.layout1 .main_list li:nth-child(n + 3) a,
.layout2 .main_list li:nth-child(n + 2) a,
.layout3 .main_list li:nth-child(n + 4) a,
.layout4 .main_list li:nth-child(n + 0) a
{
    padding-left: 16px;
    padding-right: 16px;
}

.layout3 .main_list li:nth-child(2) a {
    padding-left: 16px;
    padding-right: 8px;
}

.layout3 .main_list li:nth-child(3) a {
    padding-left: 8px;
    padding-right: 16px;
}

/* IMAGES */
.main_list img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    display: none;
}

.layout1 .main_list li:first-child a img[src*="400x250"],
.layout1 .main_list li:nth-child(2) a img[src*="400x250"],
.layout1 .main_list li:nth-child(n + 3) a img[src*="400x125"],

.layout2 .main_list li:first-child a img[src*="400x250"],
.layout2 .main_list li:nth-child(n + 2) a img[src*="400x125"],

.layout3 .main_list li:nth-child(n + 4) a img[src*="400x125"],
.layout3 .main_list li:nth-child(-n + 3) a img[src*="400x250"] {
    display: block;
}

.layout1 .main_list li:nth-child(n + 3) a,
.layout2 .main_list li:nth-child(n + 2) a,
.layout3 .main_list li:nth-child(n + 4) a,
.layout4 .main_list li:nth-child(n + 0) a 
{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}



.layout1 .main_list li:nth-child(n + 3) img,
.layout2 .main_list li:nth-child(n + 2) img,
.layout3 .main_list li:nth-child(n + 4) img,
.layout4 .main_list li:nth-child(n + 0) img 
{
    width: 60px;
    height: 60px;
    padding-right: 8px;
    margin: 0;    
}

.layout4 .main_list img {
    display: none;
}

.layout1 .main_list li:nth-child(n + 3) > a > div,
.layout2 .main_list li:nth-child(n + 2) > a > div, 
.layout3 .main_list li:nth-child(n + 4) > a > div,
.layout4 .main_list li:nth-child(n + 0) > a > div
{
    padding-left: 0;
    padding-right: 0;
    max-height: 60px;
    line-height: 20px;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 3;
}

.layout3 .main_list li:nth-child(-n + 3):nth-child(n + 2) > a > div {
    padding-left: 0;
    padding-right: 0;
    max-height: 80px;
    line-height: 20px;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4;
}

.layout1 .main_list li:nth-child(n + 3) > a > div *,
.layout2 .main_list li:nth-child(n + 4) > a > div *,
.layout3 .main_list li:nth-child(n + 2) > a > div *,
.layout4 .main_list li:nth-child(n + 0) > a > div * 
{
    padding-left: 0;
    padding-right: 0;
}

.layout1:not([show_more]) .main_list li:nth-child(n + 6),
.layout2:not([show_more]) .main_list li:nth-child(n + 5),
.layout3:not([show_more]) .main_list li:nth-child(n + 6),
.layout4:not([show_more]) .main_list li:nth-child(n + 5)
{
    display:none;
}

.layout3 .main_list ul {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

.layout3 .main_list li:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.layout3 .main_list li:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
.layout3 .main_list li:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}
.layout3 .main_list li:nth-child(n + 4) {
    grid-column: 1/3;
}

@media screen and (max-width: 1000px) {
    .layout1 .main_list li:nth-child(n + 2) {
        display: flex;
        flex-direction: column;
    }

    .layout1 .main_list li:nth-child(n + 2) a {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: row;
    }

    .layout1 .main_list li:nth-child(n + 2) img {
        width: 60px;
        height: 60px;
        padding-right: 8px;
    }

    .layout1 .main_list li:nth-child(n + 2) > a > div {
        padding-left: 0;
        padding-right: 0;

        max-height: 60px;
        line-height: 20px;
        overflow: hidden;
        white-space: initial;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .layout1 .main_list li:nth-child(n + 2) > a > div * {
        padding-left: 0;
        padding-right: 0;
        display: inline;
    }
}

button {
    text-align: center;
    border-style: none;
    background: none;
    height: 32px;
}

button.top {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0px;
    height: fit-content;
    margin-right: 24px;
}

.filler {
    flex: 0.25 1 1px;
    text-align: center;
}

.top .filler {
    flex: 1 1 100px;
    text-align: center;
}

button.top > img {
    width: 30px;
}

button.top > div {
    font-size: 10px;
}

button.more {
    border-color: black;
    border-width: 2px;
    width: 175px;
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 16px;
    display: block;
    border-style: solid;
    font-size: 14px;
}

button:focus {
    outline: none;
}

section {
    display: block;
    flex-direction: column;
    box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.5), 0 3px 3px 0 rgba(0, 0, 0, 0.5);
    padding-bottom: 8px;
    padding-top: 8px;
}


.tabs_top {
    display: flex;
    justify-content: center;
}

.tabs_top ul {
    display: flex;
}

.tabs_top li {
    margin: 16px 0;
    border: none;
}

.tabs_top a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: #b5b7b5;    
}

.tabs_top img {
    width: 30px;
    height: 30px;
}

.top_container > #search {
    grid-row:1;
    grid-column: 1;
    width: 100%;
    height: var(--header_height);
    background-color: #36ced5;
    /* overflow: hidden; */
    transition: bottom 0.2s ease-out;    
    position: relative;
    bottom: 100%;
}

.top_container > #search[open=true] {
    bottom: 0%;
}

#search form {
    font-size: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
    min-width: 0;
    width: 100%;
    height: 100%;
}

.search_box {
    font-size: 10px;
    height: 24px;
    
    padding: 0;
    padding-left: 8px;
    border-width: 1.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #096063;
    border-style: solid;
    max-block-size: none;
    min-width: none;
    min-inline-size: 0%;
    flex: 1 10 1em;
}

.search_box:placeholder-shown {
    background-image: url("icons/search_grey.png");
    background-position: 4px 50%;
    background-size: auto 60%;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.search_box:focus {
    outline: none;
}

::placeholder {
    color: #dcdcdc;
}

.drop_down {
    height: 27px;
    display: block;
    margin-left: 8px;
}

.drop_down * {
    font-size: 14px;
}
.drop_down > button {
    height: 27px;
    background-color: #b9fbfe;

    color: #16989e;

    border-width: 1.5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #096063;
    border-style: solid;
    border-right: none;

    background-image: url("temp_drop_down.png");
    background-position: right 4px top 50%;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 12px auto;

    text-decoration: none;
    align-items: left;
    padding-left: 8px;
    padding-right: 20px;
    
}

.drop_down_content {
    display: none;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}



.drop_down_content > button {
    border-width: 0;
    border-left-width: 1.5px;
    border-right-width: 1.5px;
    border-color: #096063;
    border-style: solid;

    background: #b9fbfe;
    height: 24px;
    text-align: left;
    padding-left: 20px;
    padding-right: 8px;
}

.drop_down_content > button:last-child {
    border-bottom-width: 1.5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #096063;
    border-style: solid;
}

.drop_down_content > button:hover {
    background: #9ed8db;
}

.drop_down_content > button[selected=true] {
    background: #16989e;
    color: white;
    background-image: url('icons/check_box_white.png');
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: 4px 50%;
}

.drop_down:hover .drop_down_content {
    display: flex;
}

.drop_down:hover > button {
    border-bottom-left-radius: 0;
}

button.search_cancel {
    margin: 8px;
    font-size: 8px;
    color: white;
    height: auto;
    flex: 0 0 40px;
}

section > div > header {
    /* color: red; @COLOR*/
    font-weight: 900;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 8px 0;
}


.standings header {
    width: 100%;
    /* color: red; @COLOR*/ 
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.standings .header_text {
    margin: 0 4px;
}

section .icon {
    width: 20px;
    height: 20px;
    margin-right: 4px; 
}
section > div > header > img {
    width: 20px;
    height: 20px;
    margin-right: 4px; 
}


.line {    
    height: 3px;
}

.standings .line {
    width: 100%;
    flex: 1;
}

.left {
    width: 16px;
    margin-right: 4px;
}

.right {
    width: 100%;
    flex: 1;
    text-align: center;
    margin-left: 4px;
}

li {
    list-style: none;
    border-bottom-color: #e5e5e5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

a:hover {
  background-color: e5e5e5;
}

a:active {
    background-color: rgb(207, 207, 207);
}

.tags {
    padding: 0;
    margin: 8px 0;
    font-weight: bold;
    font-size: 14px;
}

.tags > p, .tags > button {
    padding-left: 8px;
    margin: 4px 0;
    height: auto;
}

.main_list li > a {
    padding: 16px 0;
}

.main_list li:first-child a {
    padding-top: 0;
} 

.main_list li:last-child {
    border-bottom: none;
}

.main_list li > a > div {
    padding-left: 16px;
    padding-right: 16px;
}

section li > a {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-decoration: none;
    color: black;
}

.tags[show_more=false] li:nth-child(n+3) {
    display: none;
}

.tags[show_more=true] .show_more {
    display: none;
}

.show_more {
    font-weight: bold;
    font-size: 14px;
}

li.tag {
    display: flex;
    margin-bottom:2px;
    align-items: stretch;
}

a.tag {
    padding: 16px;
    flex: 1 1;
    flex-basis: 100%;
}

a.tag_arrow {
    flex-basis: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
}


.tag_arrow polyline {
    fill: none;
    stroke: black;
    stroke-width: 2px;
    stroke-linecap: round;
}

.check_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: stretch;
    justify-content: stretch;
    padding: 0 8px;
}

.check {
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;

}

.checkmeout {
    margin-left: 4px;
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #979797;
    background: white;
}

.check[selected=true] .checkmeout {
    background-image: url('icons/check_box_green.png');
    background-size: 100% 100%;
}

li > a > div > p {
    text-decoration: none;
    color: black;
    display: inline-block;
}

li > a > div {
    display: inline-block;
}

li > a > div > .header {
    font-weight: 900;
}


li > a > div > header {
    font-weight: 900;
    display: inline-block;
    white-space: nowrap;
}

li > a > div > span.category {
    font-weight: 900;
    display: inline-block;
}

